<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title></title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <!--   引入jQuery -->
 <script src="../lib/jquery.js" type="text/javascript"></script>
 <script type="text/javascript">
$(function(){
    //获取事件类型
    $("a[href='http://google.com']").click(function (event) {
        alert(event.type);
        return false;//阻止链接跳转
    })
    // 获取事件对象属性
    $("a[href='http://baidu.com']").click(function (event) {
        alert(event.target.href);
        return false;//阻止链接跳转
    })
    //获取鼠标当前相对于页面的坐标
    $("a[href='http://xiaomi.com']").click(function (event) {
        alert("坐标：" + event.pageX + "," + event.pageY);
        return false;//阻止链接跳转
    })
})
  </script>
</head>
<body>
<a href='http://google.com'>click me .google</a>
<a href='http://baidu.com'>click me .baidu</a>
<a href='http://xiaomi.com'>click me .xiaomi</a>
</body>
</html>
