<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jquery Test2</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function () {
            console.log("长度为："+$("li").length);
            console.log("选择符为："+$("li").selector);
            console.log("上下文属性："+$("li").context);
            console.log("版本号属性："+$("li").jquery);
            $("button").click(function () {
                $("li").each(function (i) {
                    $(this).css("color","blue").html(i+"----少年锦衣卫");
                })
            })
        })

    </script>
</head>
<body>
    <button type="button" name="button">点击变色</button>
    <ul>
        <li>小米加步枪1</li>
        <li>小米加步枪2</li>
        <li>小米加步枪3</li>
        <li>小米加步枪4</li>
        <li>小米加步枪5</li>
    </ul>
</body>
</html>